*{
    padding: 0;
    margin: 0;
    
}



.col{

    background-color: #1ec122;

    .nav-item{
        border-right: solid;
        color: #ffffff;

        .nav-link{
            color: black;
        }
    }

    .nav-item-2{
        border-left: solid;
        color: #ffffff;

        .nav-link{
            color: black;
        }
    }
}

.primera_imagen{
    justify-content: center;
    align-items: center;
    .primera{
        width: 80vw;
        height: 40vh;
    }
    
}

.barra{

    background-color: #1ec122; 


    .btn-group{
    
        .dropdown-toggle{
            font-size: 20px;
                
            border: 0;
            color: black;
            background-color: #1ec122;
        }
    
        .dropdown-menu{
            font-size: 18px; 
            width: 400px;
            border:#c6ebc7;
            background-color: white;
            border-radius:2px;

            .menu{
                background-color: white;
                display: flex;
                flex-direction: column;

                p{
                    margin: 0;
                }

                hr{
                    margin: 0;
                }

                .btn{

                    
                    font-size: 18px;
                    padding: 0;
                }
                .btn_ul{
                    list-style: none;
                    display: none;

                }

                .btn:hover ul{

                    background-color: white;
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 130px;
                    border-top: #1ec122;
                    
                }
                
            }
    
        }
    
    }  
}

.barra_abajo{
    height: 20px;
}

.barra_rojo{
    background-color: red; 
}

.blockquote{
    margin-top: 10px;
    margin-bottom: 0px;
}

.importante{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top:0px;
    background-color: white;
    
    .btn-primary{
        font-size: 18px;
        background-color: #fe3f3f;
        color: #ffffff;
        border-color: #fe3f3f;

        .uno{

        }
    }

    .collapse{
        font-size: 18px;
        .card-body{
            background-color: #c6ebc7;
        }
    }
}

.blockquote{
    margin-bottom: 20px;
}

.col-md-4{

    margin-top: 10px;
}

.noticias{

    background-color: white;

    justify-content: center;
    align-items: center;

    .card-text{
        margin-bottom: 0px;
    }

}








