* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    
}


.row{
    margin: 0;
}

.col.sitios{

    /* background-color: #1ec122;  */
    /* background-image: linear-gradient(to top,#099209,#1bb908,#1bd205);   */

    .nav-item {
        border-right: solid;
        color: #ffffff;

        .nav-link {
            color: black;
        }
    }

    .nav-item-2 {
        border-left: solid;
        color: #ffffff;

        .nav-link {
            color: black;

            
        }

        .fa-brands.fa-facebook:hover{
            color: #0061ff;
        }
        .fa-brands.fa-x-twitter:hover{
            color: #37383a;
        }
        .fa-brands.fa-instagram:hover{
            color: #ff00a6;

        }
        .fa-brands.fa-youtube:hover{
            color: #ff0000;
            
        }
        .fa-brands.fa-tiktok:hover{
            color: #2c282a;

        }
    }


}

.primera_imagen {
    justify-content: center;
    align-items: center;

    .primera {
        width: 80vw;
        height: 40vh;
    }

}

.row.sitios{
    margin: 0;
    display: flex;
}
.row.imagen.container-fluid.p-0{
    height: 120vh;
    
}
.row.imagen{
    margin: 0;

    #contenedor-imagen{
        padding: 0;
        width: 100%;
        height: 100%;
        
    }

}

.img-fluid.fondo{
    width: 100%;
    height: 100%;
}


.row.texto{
    width: 100vw;
    height: 15vh;

}

.blockquote {
    margin-top: 10px;
    margin-bottom: 0px;
}

.row.importante{
    display: flex;
    flex-direction: row;
}


.importante {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform: 0.1s;;

    margin-top: 0px;
    background-color: white;

    .btn.btn-primary {
        font-size: 18px;
        background-color:#208716;
        color: black;
        border-color: #208716;
    }

    .collapse {
        font-size: 18px;

        .card-body {
            background-image: linear-gradient(to top, #e4dfdf,#f3f0f0, #ebf0ea);
        }
    }
}



.mostrar_enlaces{
    .btn-primary:hover{
        box-shadow: 0px 6px 12px black;
        color: black;
        background-color: #84f560;
        border-color: #84f560;
    }
}

.col.importante:hover{
    transform: scale(1.03);
    .btn-primary{
        
        box-shadow: 0px 6px 12px black;
        color: black;
        background-color: #84f560;
        border-color: #84f560;
    }
}

.row.texto.formacion{

    background-image: linear-gradient(to top, #e4dfdf,#f3f0f0, #ebf0ea);
    height: 90vh;
    margin-top: 30px;
    margin-bottom: 150px;

    .text-center{
        height: 10vh;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    

    #carouselExample{
        padding: 0px;
        height: 100%;
    }

}


.blockquote {
    margin-bottom: 20px;
}

.col-md-4 {

    margin-top: 10px;
}

.noticias {
    display: flex;

    background-color: white;

    justify-content: center;
    align-items: center;

    .card.mb-3 {
        transform: 0.1s;

    }

    .card.mb-3:hover {
        box-shadow: 0px 6px 12px #208716;
        transform: scale(1.03);
    }

    .card-text {
        margin-bottom: 0px;
    }

}



.row.repositorios {

    
    
    margin: 5px;

    .card {
        padding: 0px;
        border-color: #c6ebc7;
    }

    .card-header {
        color: white;
        background-color: #208716;

    }

    .btn-primary {
        background-color: #ef0404;
        border-color: #ef0404;
    }

}

.repositorios_rojo {
    margin: 5px;
    
    background-image: linear-gradient(to top, #e4dfdf,#f3f0f0, #ebf0ea);

    .rojo-repositorio {
        padding: 0px;
        background-color: #ea6e6e;
        color: white;

        .card-header {
            background-color: #ef0404;
        }

        .btn-primary {
            background-color: #208716;
            border-color: #208716;
        }
    }
}

.impor {
    background-color: white;

    .intento {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;

        .card {
            margin-bottom: 14px;
            background-image: linear-gradient(to top, #e4dfdf,#f3f0f0, #ebf0ea);
            transform: 0.1s;

            .btn-primary {
                background-color: #208716;
                border-color: #208716;
            }
        }

        .card:hover{
            transform: scale(1.03);
            box-shadow: 0px 6px 12px #208716;
        }



    }


    .accordion-item {
        background-color: white;
    }

}

.rector {
    display: flex;
    justify-content: center;
    border-radius: 500px;
}

.rojobarra {
    margin-top: 10px;
    background-color: #fe3f3f;
    height: 10px;

    .tituloNoticias {
        background-color: #ea6e6e;
    }
}


.row.footer{
    background-color: #e3e2e2;
    

    .col.atencion{
        
        border-left: solid #6d6969;
        
        background-color: #e3e2e2;
        color: #ff0000;
        margin-left: 20px;
        
        #terminos{
            gap: 0px;
            margin-left: 20px;
            color: #1ec122;
        }

        #terminos:hover{
            color: #84f560;
        }
    }

    padding-bottom: 30px;
}

.row.final{
    padding-top: 20px;
    padding-bottom: 60px;
}

.col.copy{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

    background-color: white;

    #politica{
        margin-left: 6px;
        color: #000;
    }

    
}

.parte_Informacion{
    padding-bottom: 20px;
}